* {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(255, 255, 255, .5);
}

::-webkit-scrollbar-thumb {
    background-color: #353535;
}
.col-1 {
    width: 10%;
}

.col-2 {
    width: 20%;
}

.col-3 {
    width: 30%;
}

.col-4 {
    width: 40%;
}

.col-5 {
    width: 50%;
}

.col-6 {
    width: 60%;
}

.col-7 {
    width: 70%;
}

.col-8 {
    width: 80%;
}

.col-9 {
    width: 90%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9 {
    position: relative;
    float: left;
}
.col-1::after,
.col-2::after,
.col-3::after,
.col-4::after,
.col-5::after,
.col-6::after,
.col-7::after,
.col-8::after,
.col-9::after {
    display: block;
    content: "";
    clear: both;
}
* {
    /* background-color: rgba(0, 0, 0, 0.1); */
}

img {
    display: block;
}
