<div class="profile">
    <!-- <span class="myWords">
        Sorry ~ No Comments
    </span> -->
    <div class="comments_wrap">
        <div class="comment_submit_area">
            <div class="comment_emoji">
                <button> |_| </button>
            </div>
            <textarea name="" id="" cols="30" rows="10">

            </textarea>
            <button class="commit">吐槽一下</button>
        </div>
        <div class="show_comments comment_card">
            <div class="comment_master">
                <div class="user">
                    <div class="avtor">
                        <img src="" alt="">
                    </div>
                    <div class="nikename">
                        <span>张二小</span> to:
                    </div>
                    <div class="master_patter">
                        <p>Y aaaaa p</p>
                    </div>
                </div>
            </div>
            <div class="comment_replay comment_sub">
                <div class="user">
                    <div class="avtor">
                        <img src="" alt="">
                    </div>
                    <div class="nikename">
                        <span>王二小</span> do:
                    </div>
                    <div class="master_patter">
                        <p>Oh~ amazing</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="wishWords">
        <span>愿你成爲你想成爲的樣子</span>
        <h2>如果對你有幫助的話？</h2>
        <p>你可以請我喝一杯果汁兒(＾Ｕ＾)ノ~ＹＯ</p>
    </section>
    <section class='payfor'> </section>
</div>