<div class="blog-foot b-layout">
    <div class="blog-foot-top">
        <p class="cn" >鼓励那些还在坚持学习的人er啊，不要放弃,自律使人自由</p>
        <p class='en'>N     e     v     e     r     -     G     i     v     e     -     U     p</p>
        <span>∨</span>
        <contactIcon />
    </div>
 <!-- TODO: 主页 下面的图标 --> 
    <section class="blog-foot-body">
        <div>
            <span>Blog</span>
            <span>交流</span>
            <span>学习</span>
        </div>
        <a target="_blank" href="http://www.beian.miit.gov.cn/">豫ICP备20019890</a>• Version 1.0.2 • ALL RIGHTS RESERVED
        <div>CATVUE.XYZ © 2019-2020</div>
    </section>
</div>
